<span id="mission">Rate and Share your experience with ...</span> <br>
<ul class="small-block-grid-3">
<li><%=image_tag("clubs.png")%></li>
<li><%=image_tag("cafeteria.png")%></li>
<li><%=image_tag("courses.png")%></li>
</ul>