<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cafeteria_category.name %>
</p>

<%= link_to 'Edit', edit_cafeteria_category_path(@cafeteria_category) %> |
<%= link_to 'Back', cafeteria_categories_path %>
