<div id="footer">

<div>
         <ul class ="navbar">

         
          <li><%= link_to 'Visit CMUQ', root_path%> | </li>
          <li><%= link_to 'Site Map', root_path%> | </li>
          <li><%= link_to 'Contact Us', root_path %></li>
          </ul>
          </div>

</div>