<div id="footer">
	<nav>
	<%= link_to 'Visit CMUQ', root_path, :class => "style-visitcmuq"%>
    <%= link_to 'Site Map', root_path, :class => "style-sitemap"%>
  	<%= link_to 'Contact Us', root_path, :class => "style-contactus"%>
  </nav>
</div>